<!DOCTYPE html>
<html>
  <head>
    <!-- SITE TITTLE -->
    <%= render 'layouts/head_meta' %>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <!-- PLUGINS CSS STYLE -->
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- GOOGLE FONT -->

    <!-- CUSTOM CSS -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <%= render 'layouts/head_shim' %>
  </head>

  <body>
    <div class="main-wrapper">
      <%= render 'layouts/header_new_ver' %>
      <%= yield %>
      <!-- FOOTER -->
      <!-- COPY RIGHT -->
      <%= render 'layouts/footer' %>
    </div>
    <!-- LOGIN MODAL -->
    <%= render 'layouts/modal_login' %>
    <!-- SIGN UP MODAL -->
    <%= render 'layouts/modal_signup' %>
  </body>
</html>
