<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head_meta' %>
    <title>Potepanec</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render 'layouts/head_shim' %>
  </head>

  <body>
    <%= render 'layouts/header_new_ver' %>
    <%= yield %>
  </body>
</html>
